/*---------------------------------
        Header CSS 
-----------------------------------*/
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes toBottomFromTop10 {
  49% {
    transform: translateY(-10%);
  }
  50% {
    opacity: 0;
    transform: translateY(10%);
  }
  51% {
    opacity: 1;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}

.header-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: 0.4s;
}
.header-wrap.sticky {
  position: fixed;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  background: #fff;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  width: 100%;
  top: 0;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}
.header-wrap.sticky.style1, .header-wrap.sticky.style3 {
  background-color: #015C3B;
  margin: 0;
}
.header-wrap.sticky.style1 .header-box {
  padding: 0;
}
.header-wrap.style1 {
  transition: 0.4s;
  margin-top: 30px;
}
.header-wrap.style1 .header-box {
  background-color: #015C3B;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 0 15px;
  border-radius: 5px;
}
.header-wrap.style1 .header-box .other-options .option-item .searchbtn i {
  color: #fff;
}
.header-wrap.style1 .header-box .search-area {
  background-color: #015C3B;
  right: -15px;
  border-radius: 0 5px 5px 5px;
}
.header-wrap.style1 .header-box .search-area input {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.header-wrap.style1 .header-box .search-area button i {
  color: #fff;
}
.header-wrap.style2 {
  background-color: #fff;
}
.header-wrap.style3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header-wrap.style3 .searchbtn i {
  color: #fff;
}
.header-wrap.style3 .shopcart-btn i {
  color: #fff;
}
.header-wrap.style3 .navbar .navbar-nav > .nav-item:first-child, .header-wrap.style4 .navbar .navbar-nav > .nav-item:first-child {
  margin-left: 0;
}
.header-wrap.style4 {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header-wrap.style4 .option-item .searchbtn i {
  color: #000;
}
.header-wrap .mobile-bar-wrap,
.header-wrap .other-options {
  position: relative;
}

.search-area {
  position: absolute;
  top: 80px;
  right: 0;
  background-color: #fff;
  padding: 15px 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 320px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.search-area.open {
  visibility: visible;
  opacity: 1;
  top: 69px;
}
.search-area input {
  width: 100%;
  height: 58px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 15px;
  background-color: transparent;
  color: #fff;
}
.search-area input::-moz-placeholder {
  color: #fff;
}
.search-area input::placeholder {
  color: #fff;
}
.search-area button {
  position: absolute;
  top: 35px;
  right: 22px;
  border: none;
  background-color: transparent;
}
.search-area button i {
  font-size: 20px;
  opacity: 0.5;
  line-height: 0.8;
}

.shopcart-btn {
  position: relative;
  top: 2px;
  padding-right: 5px;
}
.shopcart-btn i {
  font-size: 28px;
  line-height: 0.8;
}
.shopcart-btn span {
  position: absolute;
  top: -12px;
  right: 0px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #FF3838;
  text-align: center;
  line-height: 23px;
  color: #fff;
  font-size: 12px;
}

.searchbtn {
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
  top: 2px;
}
.searchbtn i {
  font-size: 20px;
  line-height: 1;
}

@media only screen and (max-width: 767px) {
  .navbar-brand img {
    max-width: 120px;
  }
  .search-area {
    width: 270px;
    padding: 12px;
  }
  .search-area.open {
    top: 42px;
  }
  .search-area input {
    height: 50px;
  }
  .search-area button {
    top: 32px;
  }
  .search-area button i {
    font-size: 18px;
  }
  .header-wrap.sticky {
    margin-top: 0;
  }
  .header-wrap.style1 {
    margin-top: 12px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-wrap .navbar .navbar-brand {
    max-width: 120px;
  }
  .header-wrap .navbar .navbar-nav .nav-item {
    margin: 0 10px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    font-size: 14px !important;
  }
  .header-wrap .navbar .other-options .option-item {
    margin: 0 0 0 25px !important;
  }
  .header-wrap .navbar .other-options .option-item .btn {
    padding: 9px 20px 9px;
    font-size: 14px;
  }
  .header-wrap .navbar .other-options .search-area.open {
    top: 62px;
  }
  .header-wrap.style3 .navbar .navbar-nav > .nav-item, .header-wrap.style4 .navbar .navbar-nav > .nav-item {
    margin: 0 7px;
  }
  .header-wrap.style3 .navbar .navbar-nav > .nav-item:first-child, .header-wrap.style4 .navbar .navbar-nav > .nav-item:first-child {
    margin-left: 0;
  }
  .header-wrap.style3 .navbar .navbar-nav > .nav-item:last-child, .header-wrap.style4 .navbar .navbar-nav > .nav-item:last-child {
    margin-right: 0;
  }
  .header-wrap.style3 .navbar .navbar-nav > .nav-item a i, .header-wrap.style4 .navbar .navbar-nav > .nav-item a i {
    font-size: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .search-area.open {
    top: 54px;
  }
}
@media only screen and (max-width: 991px) {
  .header-wrap.style1 .header-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .header-wrap .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .header-wrap .navbar .navbar-collapse {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  }
  .header-wrap .navbar .navbar-nav {
    width: 100%;
    flex-direction: column;
  }
  .header-wrap .navbar .navbar-nav .nav-item {
    position: relative;
  }
  .header-wrap .navbar .navbar-nav .nav-item .menu-expand {
    position: absolute;
    right: 0;
    top: 14px;
    cursor: pointer;
  }
  .header-wrap .navbar .navbar-nav .nav-item .menu-expand i {
    color: #000;
    font-size: 18px;
    line-height: 1;
    position: relative;
    top: 7px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 15px;
    padding-bottom: 15px;
    color: #000;
  }
  .header-wrap .navbar .navbar-nav .nav-item a i {
    display: none;
  }
  .header-wrap .navbar .navbar-nav .nav-item a.active {
    color: #D4AD19;
  }
  .header-wrap .navbar .navbar-nav .nav-item a.btn {
    display: inline-block;
    padding: 10px 30px 10px;
    color: #fff;
    margin-top: 15px;
    font-weight: 500;
    font-size: 14px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a.btn i {
    display: inline-block;
    top: 6px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a {
    font-size: 14px;
    padding-left: 10px;
    margin-left: 10px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #D4AD19;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu {
    margin-left: 20px;
  }
  .header-wrap.style1 .searchbtn i {
    color: #fff;
  }
  .header-wrap.style1 .shopcart-btn i {
    color: #fff;
  }
  .header-wrap.style2 .mobile-menu a i, .header-wrap.style3 .mobile-menu a i {
    color: #fff;
  }
  .mobile-bar-wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    position: relative;
    top: 4px;
  }
  .mobile-bar-wrap .shopcart-btn {
    margin-left: 11px;
    top: 1px;
    padding-right: 4px;
  }
  .mobile-bar-wrap .shopcart-btn span {
    top: -2px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
  }
  .menu-close {
    position: absolute;
    top: 13px;
    right: 16px;
  }
  .menu-close i {
    color: #000;
    font-size: 25px;
  }
  .mobile-menu {
    text-align: right;
    margin-left: 14px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: linear-gradient(90deg, #A8DC51 0%, #4CA754 99.88%);
  }
  .mobile-menu a {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile-menu a i {
    font-size: 20px;
    color: #fff;
    margin: 0 auto;
    position: relative;
    top: 2px;
  }
  .mobile-menu {
    display: inline-block;
    position: relative;
    top: -5px;
  }
  .mobile-top-bar {
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    position: relative;
    top: 0px;
  }
  .mobile-top-bar span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000;
    border-radius: 20px;
    margin: 5.9px 0;
  }
  .mobile-top-bar span:nth-child(1) {
    margin-top: 0;
  }
  .mobile-top-bar span:nth-child(2) {
    width: 12px;
    margin-left: 8px;
  }
  .main-menu-wrap {
    width: 100%;
    position: fixed;
    background: #FDFFF9;
    z-index: 999;
    top: 0;
    height: 100vh;
    transition: 0.5s;
    left: -100%;
    padding: 55px 20px 30px;
    overflow-y: auto;
    transition: 0.4s;
  }
  .main-menu-wrap.open {
    left: 0;
  }
  .main-menu > li.has-children.menu-open > span.menu-expand {
    transform: rotate(180deg);
  }
  .main-menu > li.has-children.menu-open > span.menu-expand i {
    color: #000;
  }
  .main-menu > li > ul > li.has-children.menu-open > span.menu-expand {
    transform: rotate(180deg);
  }
  .main-menu li {
    position: relative;
  }
  .main-menu li:last-child {
    margin: 0;
  }
  .main-menu li > span.menu-expand {
    position: absolute;
    right: 0;
    top: 13px;
    cursor: pointer;
  }
  .main-menu li > span.menu-expand i {
    color: #000;
    font-size: 18px;
  }
  .main-menu li > span.menu-expand:hover {
    color: #000;
  }
  .main-menu li a.active {
    color: #D4AD19;
  }
  .main-menu li > a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .main-menu li > a:hover {
    color: #000;
  }
  .main-menu li > ul.sub-menu {
    padding-left: 20px;
  }
  .header-wrap .main-menu-wrap #menu > ul > li > a::after {
    display: none;
  }
  .main-menu li a.active {
    font-weight: 600;
    color: #000;
    border-color: rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (min-width: 992px) {
  .menu-expand {
    display: none;
  }
  .header-wrap .navbar {
    padding: 0;
  }
  .header-wrap .navbar ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item {
    position: relative;
    margin: 0 10px;
  }
  .header-wrap .navbar .navbar-nav .nav-item.first-child {
    margin-left: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    color: #000;
    font-weight: 500;
    padding: 30px 0;
    transition: 0.4s;
    position: relative;
  }
  .header-wrap .navbar .navbar-nav .nav-item a:hover, .header-wrap .navbar .navbar-nav .nav-item a:focus, .header-wrap .navbar .navbar-nav .nav-item a.active {
    color: #D4AD19;
  }
  .header-wrap .navbar .navbar-nav .nav-item a i {
    font-size: 12px;
    line-height: 1;
    position: relative;
    top: 0px;
    display: inline-block;
    margin-left: -3px;
    transition: 0.4s;
  }
  .header-wrap .navbar .navbar-nav .nav-item a:hover i {
    transform: rotate(180deg);
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu {
    display: block !important;
    border: none;
    top: 82px;
    left: -23px;
    z-index: 99;
    opacity: 0;
    width: 265px;
    display: block;
    border-radius: 0;
    padding: 12px 0;
    position: absolute;
    visibility: hidden;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    transform: rotateX(-75deg);
    transition: 0.5s;
    transform-style: preserve-3d;
    transform-origin: 0% 0%;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li {
    margin: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a {
    padding: 10px 20px;
    position: relative;
    display: block;
    font-weight: 500;
    transition: 0.3s;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:before {
    position: absolute;
    top: 50%;
    left: 20px;
    content: "";
    width: 2px;
    height: 0%;
    background-color: #DCBE4A;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50%);
    transition: 0.4s;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover {
    color: #D4AD19;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active:before, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover:before {
    height: 16px;
    visibility: visible;
    opacity: 1;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover {
    padding-left: 30px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    width: 100%;
    right: auto;
    left: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a i {
    margin: 0;
    position: absolute;
    top: 55%;
    font-size: 13px;
    line-height: 1;
    transform: translateY(-50%);
    right: 15px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    top: 0;
    opacity: 0;
    left: -250px;
    right: auto;
    visibility: hidden;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
  .header-wrap .navbar .navbar-nav .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: rotatex(0deg);
  }
  .header-wrap .navbar .other-options {
    display: flex;
    align-items: center;
  }
  .header-wrap .navbar .other-options .option-item {
    margin: 0 0 0 35px;
  }
  .header-wrap.style1 .navbar .navbar-nav .nav-item a, .header-wrap.style3 .navbar .navbar-nav .nav-item a {
    color: #fff;
  }
  .header-wrap.style1 .navbar .navbar-nav .nav-item a:hover, .header-wrap.style1 .navbar .navbar-nav .nav-item a:focus, .header-wrap.style1 .navbar .navbar-nav .nav-item a.active, .header-wrap.style3 .navbar .navbar-nav .nav-item a:hover, .header-wrap.style3 .navbar .navbar-nav .nav-item a:focus, .header-wrap.style3 .navbar .navbar-nav .nav-item a.active {
    color: #D4AD19;
  }
  .header-wrap.style1 .navbar .navbar-nav .nav-item .dropdown-menu, .header-wrap.style3 .navbar .navbar-nav .nav-item .dropdown-menu {
    background-color: #015C3B;
  }
  .header-wrap.style1 .navbar .other-options .option-item, .header-wrap.style3 .navbar .other-options .option-item {
    margin: 0 0 0 30px;
  }
  .header-wrap.style1 .navbar .other-options .option-item .shopcart-btn i, .header-wrap.style3 .navbar .other-options .option-item .shopcart-btn i {
    color: #fff;
  }
  .header-wrap.style1 .navbar .other-options .option-item .shopcart-btn span, .header-wrap.style3 .navbar .other-options .option-item .shopcart-btn span {
    background-color: #FF3838;
  }
  .header-wrap.style2 .navbar .other-options .option-item .searchbtn i {
    color: #000;
  }
  .header-wrap.style3 .navbar-brand, .header-wrap.style4 .navbar-brand {
    margin: 0 auto;
  }
  .header-wrap.style3 .navbar-brand img, .header-wrap.style4 .navbar-brand img {
    display: block;
    margin: 0 auto;
  }
  .header-wrap.style3 .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu, .header-wrap.style4 .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: auto;
    right: -250px;
  }
  .header-wrap.style3 .other-options, .header-wrap.style4 .other-options {
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 1400px) {
  .header-wrap .navbar .navbar-nav .nav-item {
    margin: 0 14px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1600px) {
  .header-wrap .container {
    max-width: 1520px;
  }
}/*# sourceMappingURL=header.css.map */